/* * {
    border: solid black 1px;
} */

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: center;
    gap: 5px;
}

.cell {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    user-select: none;
}

.display {
    grid-column: span 4; 
}

.number0 {
    grid-row-start: 6; /* this is to set it to the right cell */
    grid-column: span 2;
}

.decimal {
    grid-row-start: 6;
}

.equals {
  grid-column-start: 4;
  grid-row-start: 5;
  grid-row-end: span 2;
  height: 207px;
}

.number1 {
    grid-row-start: 5;
}

.number2 {
    grid-row-start: 5;
}

.number3 {
    grid-row-start: 5;
}

.number4 {
    grid-row-start: 4;
}

.number5 {
    grid-row-start: 4;
}

.number6 {
    grid-row-start: 4;
}

.add {
    grid-row-start: 4;
}

.number7 {
    grid-row-start: 3;
}

.number8 {
    grid-row-start: 3;
}

.number9 {
    grid-row-start: 3;
}

.subtract {
    grid-row-start: 3;
}

.clear {
    grid-column: span 2;
}

.multiply {
    grid-column-start: 4;
}

.divide {
    grid-column-start: 3;
    grid-row-start: 2;
}

.display {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}